<div>

    <rec-topnav></rec-topnav>


    <div class="recipe-container" *ngIf="recipe">
        <mat-form-field>
            <input matInput placeholder="Recipe Title" [(ngModel)]="recipe.title">
        </mat-form-field>
        <div class="spacer"></div>

        <mat-form-field>
            <input matInput placeholder="Image URL" [(ngModel)]="recipe.image">
        </mat-form-field>
        <img src="{{recipe.image}}">
        <div class="spacer"></div>

        <mat-form-field>
            <input matInput placeholder="Yield" [(ngModel)]="recipe.yield">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Time" [(ngModel)]="recipe.time">
        </mat-form-field>
        <div class="spacer"></div>

        <div class="section-header">
            <h3>Ingredients</h3>
        </div>

        <div class="ingredient-container">
            <mat-form-field *ngFor="let ing of recipe.ingredients; let i=index; trackBy: customTrackBy">
                <input matInput placeholder="Ingredient" [(ngModel)]="recipe.ingredients[i]">
            </mat-form-field>
        </div>
        <button mat-mini-fab class="add-ing" (click)="recipe.ingredients.push('')">
            <mat-icon>add</mat-icon>
        </button>
        <div class="spacer"></div>

        <div class="section-header">
            <h3>Instructions</h3>
        </div>
        <mat-form-field *ngFor="let s of recipe.steps; let i=index; trackBy: customTrackBy">
            <textarea matInput placeholder="Step" [(ngModel)]="recipe.steps[i]"></textarea>
        </mat-form-field>
        <button mat-mini-fab class="add-step" (click)="recipe.steps.push('')">
            <mat-icon>add</mat-icon>
        </button>
        <div class="spacer"></div>

        <div class="btn-group">
            <button class="cancel-btn" mat-raised-button color="accent" routerLink="/recipe/{{recipeID}}">Cancel</button>
            <button class="save-btn" mat-raised-button color="accent" (click)="save()">Save</button>
        </div>
    </div>
    <rec-footer></rec-footer>
</div>