.card-image {
    width: 340px;
    height: 340px;
}

.fill-remaining-space {
    flex: 1 1 auto;
}

.ingredients {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 56px;
    border-bottom: solid;
}

.ingredients>button {
    margin-left: 15px;
}

.instruction-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.instructions {
    padding-bottom: 56px;
    border-bottom: solid;
}

md-card {
  box-sizing: border-box;
  margin: 16px;
}

.step {
    font-size: 16px;
    display: flex;
    align-items: center;
}

.step-number {
    margin-right: 15px;
}

.title {
    display: flex;
    flex-wrap: wrap;
}

.title>img {
    height: 300px;
    width: 300px;
}