<div>

  <rec-topnav></rec-topnav>

  <div class="recipe-container" *ngIf="recipe">

    <mat-card>
      <mat-card-title-group>
        <img *ngIf="recipe.image" class="card-image" src="{{recipe.image}}">
        <mat-card-title>{{recipe.title}}</mat-card-title>
        <mat-card-subtitle>Yield: {{recipe.yield}}</mat-card-subtitle>
        <mat-card-subtitle>Time: {{recipe.time}}</mat-card-subtitle>
      </mat-card-title-group>
    </mat-card>

    <mat-list>
      <div class="ingredients" matSubheader>
        <h3>Ingredients</h3>
        <button mat-mini-fab (click)="checkingIngredients = !checkingIngredients">
          <mat-icon>check</mat-icon>
        </button>
      </div>
      <mat-list-item *ngFor="let i of recipe.ingredients">
        <mat-checkbox *ngIf="checkingIngredients"></mat-checkbox>
        {{i}}
      </mat-list-item>
    </mat-list>


    <div class="instruction-container">
      <mat-list>
        <div class="instructions" matSubheader>
          <h3>Instructions</h3>
        </div>
      </mat-list>
      <div class="step" *ngFor="let s of recipe.steps; let i=index">
        <button mat-mini-fab class="step-number" (click)="stepsDone[i] = !stepsDone[i]">{{i+1}}</button>
        <p [ngClass]="{done:stepsDone[i]}">{{s}}</p>
      </div>
    </div>

  </div>

  <button mat-fab class="fab" routerLink="/edit/{{recipeID}}" *ngIf="!_recipeService.guest">
    <mat-icon>edit</mat-icon>
</button>
  <rec-footer></rec-footer>
</div>