<rec-topnav></rec-topnav>

<div class="recipe-container">

  <md-card>
    <md-card-title-group>
      <img class="card-image" src="https://s3.amazonaws.com/pp-test-img/tuna-c.png">
      <md-card-title>Title of R</md-card-title>
      <md-card-subtitle>Yield: 40ish</md-card-subtitle>
      <md-card-subtitle>Time: 16hrs</md-card-subtitle>
    </md-card-title-group>
  </md-card>

  <md-list>
    <div class="ingredients" md-subheader>
      <h3>Ingredients</h3>
      <button md-mini-fab (click)="checkingIngredients = !checkingIngredients">
      <md-icon>check</md-icon>
    </button>
    </div>
    <md-list-item>
      <md-checkbox *ngIf="checkingIngredients"></md-checkbox>
      one thousand peppercorns
    </md-list-item>
    <md-list-item>
      <md-checkbox *ngIf="checkingIngredients"></md-checkbox>
      two million basil leaves
    </md-list-item>
    <md-list-item>
      <md-checkbox *ngIf="checkingIngredients"></md-checkbox>
      three eggs
    </md-list-item>
  </md-list>


  <div class="instruction-container">
    <md-list>
      <div class="instructions" md-subheader>
        <h3>Instructions</h3>
      </div>
    </md-list>
    <div class="step">
      <button md-mini-fab class="step-number">1</button>
      <p>hi
      </p>
    </div>
    <div class="step">
      <button md-mini-fab class="step-number">1</button>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam pariatur enim cupiditate perferendis cumque labore
        itaque aperiam quisquam nobis dolor consectetur modi ipsum voluptatibus architecto, reiciendis. Magnam aperiam, voluptate
        hic.
      </p>
    </div>
    <div class="step">
      <button md-mini-fab class="step-number">2</button>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In eius laudantium consequuntur at ducimus ratione, incidunt
        delectus sint mollitia quod excepturi magnam sit iste necessitatibus! Commodi amet illum, ratione quibusdam.</p>
    </div>
    <div class="step">
      <button md-mini-fab class="step-number">3</button>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore quibusdam ducimus ab sed quo sint aspernatur quod
        in quaerat culpa. Sequi, ipsa nostrum! Deserunt doloribus, cum ipsum inventore omnis molestiae!</p>
    </div>
    <div class="step">
      <button md-mini-fab class="step-number">4</button>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus quisquam quia quis molestiae distinctio veniam
        necessitatibus nulla animi expedita assumenda delectus, rem adipisci eaque ducimus nam, perferendis iusto. Minus,
        sed.
      </p>
    </div>
  </div>

</div>