.card-container {
  display: flex;
  flex-flow: row wrap;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.header {
    padding-bottom: 56px !important;
    border-bottom: solid;
    display: flex !important;
    flex-direction: row;
}

md-card {
  width: 300px;
  box-sizing: border-box;
  margin: 16px;
}

md-card-title-group {
  cursor: pointer;
}