<rec-topnav></rec-topnav>


<mat-list>
    <div class="header" matSubheader>
        <h1>People that have shared with you</h1>
    </div>
</mat-list>

<div class="card-container">
    <mat-card *ngFor="let r of sharedWithMe | async" (click)="viewShare(r)">
        <mat-card-title-group (longpress)="showDelete = !showDelete">
            <img mat-card-avatar src="https://lh3.googleusercontent.com/-A7xisT-r67s/AAAAAAAAAAI/AAAAAAAAB-g/eQcqLU29-6I/photo.jpg">
            <mat-card-title>{{r.$value}}
            </mat-card-title>
            <mat-card-subtitle>?? Recipes</mat-card-subtitle>
        </mat-card-title-group>
        <!--<mat-card-footer *ngIf="showDelete">
            <button class="del-fab" mat-mini-fab (click)="delete(r)">
            <mat-icon>delete</mat-icon>
        </button>
        </mat-card-footer>-->
    </mat-card>
</div>



<mat-list>
    <div class="header" matSubheader>
        <h1>
            People you have shared with
        </h1>
        <div class="fill-remaining-space"></div>
        <button mat-mini-fab (click)="openDialog()">
            <mat-icon>share</mat-icon>
        </button>
    </div>
</mat-list>

<div class="card-container">
    <mat-card *ngFor="let r of iSharedWith | async">
        <mat-card-title-group (longpress)=" showDelete=! showDelete ">
            <img mat-card-sm-image src="https://lh3.googleusercontent.com/-A7xisT-r67s/AAAAAAAAAAI/AAAAAAAAB-g/eQcqLU29-6I/photo.jpg ">
            <mat-card-title>{{r.$value}}
            </mat-card-title>
            <mat-card-subtitle>?? Recipes</mat-card-subtitle>
        </mat-card-title-group>
        <mat-card-footer *ngIf="showDelete ">
            <button class="del-fab " mat-mini-fab (click)="delete(r) ">
            <mat-icon>delete</mat-icon>
        </button>
        </mat-card-footer>
    </mat-card>
</div>
<rec-footer></rec-footer>