<div class="content">
  <rec-topnav></rec-topnav>

  <div class="card-container">
    <mat-card *ngFor="let r of recipes | async">
      <mat-card-title-group routerLink="/recipe/{{r.childKey}}" (longpress)="showDelete = !showDelete">
        <img *ngIf="r.image" mat-card-sm-image src="{{r.image}}">
        <mat-card-title>{{r.title}}
        </mat-card-title>
      </mat-card-title-group>
      <mat-card-footer *ngIf="showDelete && !_recipeService.guest">
        <button class="del-fab" mat-mini-fab (click)="delete(r)">
            <mat-icon>delete</mat-icon>
        </button>
      </mat-card-footer>
    </mat-card>
  </div>


  <button mat-fab class="fab" routerLink="/add" *ngIf="!_recipeService.guest">
    <mat-icon>add</mat-icon>
  </button>

  <rec-footer></rec-footer>
</div>