
.card-container {
  display: flex;
  flex-flow: row wrap;
  margin-left: 4%;
  margin-right: 4%;
}

.content {
  display: flex;
  flex-direction: column;
}

.fab{
    position: fixed;
    bottom: 25px;
    right: 25px;
}

mat-card {
  width: 400px;
  box-sizing: border-box;
  margin: 16px;
  cursor: pointer;
}
