<md-toolbar color="primary">
  <span routerLink="/" class="link">Recipes</span>

  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>

  <button md-raised-button color="accent" *ngIf="!auth" (click)="login()">Login</button>
  <button md-raised-button color="accent" *ngIf="auth && auth.profile" [mdMenuTriggerFor]="appMenu">
      {{auth.username}}
      <md-icon>arrow_drop_down</md-icon>
    </button>

  <md-menu #appMenu="mdMenu">
    <button md-menu-item routerLink="/settings">
        <md-icon>settings</md-icon>
        Settings 
      </button>
    <button md-menu-item routerLink="/sharing">
        <md-icon>share</md-icon> 
        Sharing Center 
      </button>
    <button md-menu-item color="accent" (click)="logout()">
        <md-icon>power_settings_new</md-icon>
        Logout
      </button>
  </md-menu>
</md-toolbar>