<mat-toolbar color="primary">
  <span routerLink="/" class="link">Recipes</span>

  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>

  <button mat-raised-button color="accent" *ngIf="!auth" (click)="login()">Login</button>
  <button mat-raised-button color="accent" *ngIf="auth && auth.profile" [matMenuTriggerFor]="appMenu">
      {{auth.username}}
      <mat-icon>arrow_drop_down</mat-icon>
    </button>

  <mat-menu #appMenu="matMenu">
    <button mat-menu-item routerLink="/settings">
        <mat-icon>settings</mat-icon>
        Settings 
      </button>
    <button mat-menu-item routerLink="/sharing">
        <mat-icon>share</mat-icon> 
        Sharing Center 
      </button>
    <button mat-menu-item color="accent" (click)="logout()">
        <mat-icon>power_settings_new</mat-icon>
        Logout
      </button>
  </mat-menu>
</mat-toolbar>