<div [ngClass]="{candytheme:theme==='candytheme',alletheme:theme==='alletheme'}">
  <md-toolbar color="primary">
    <span routerLink="/" class="link">Recipes</span>

    <!-- This fills the remaining space of the current row -->
    <span class="fill-remaining-space"></span>

    <!--<md-select [(ngModel)]="themeSel" (ngModelChange)="select($event)" class="theme-select">
      <md-option [value]="'default'">Default</md-option>
      <md-option [value]="'candytheme'">Candy</md-option>
      <md-option [value]="'alletheme'">Alle</md-option>
    </md-select>-->

    <button md-raised-button color="accent" *ngIf="!auth" (click)="login()">Login</button>
    <button md-raised-button color="accent" *ngIf="auth" [mdMenuTriggerFor]="appMenu">
      {{auth.auth.displayName}}
      <md-icon>arrow_drop_down</md-icon>
    </button>

    <md-menu #appMenu="mdMenu">
      <button md-menu-item>
        <md-icon>settings</md-icon>
        Settings 
      </button>
      <button md-menu-item routerLink="/sharing">
        <md-icon>share</md-icon> 
        Sharing Center 
      </button>
      <button md-menu-item color="accent" (click)="logout()">
        <md-icon>power_settings_new</md-icon>
        Logout
      </button>
    </md-menu>
  </md-toolbar>
</div>