<div>

  <rec-topnav></rec-topnav>


  <div class="recipe-container">
    <md-input-container>
      <input mdInput placeholder="Recipe Title" [(ngModel)]="recipe.title">
    </md-input-container>
    <div class="spacer"></div>

    <md-input-container>
      <input mdInput placeholder="Image URL" [(ngModel)]="recipe.image">
    </md-input-container>
    <img src="{{recipe.image}}">
    <div class="spacer"></div>

    <md-input-container>
      <input mdInput placeholder="Yield" [(ngModel)]="recipe.yield">
    </md-input-container>
    <md-input-container>
      <input mdInput placeholder="Time" [(ngModel)]="recipe.time">
    </md-input-container>
    <div class="spacer"></div>

    <div class="section-header">
      <h3>Ingredients</h3>
    </div>
    <md-input-container *ngFor="let ing of recipe.ingredients; let i=index; trackBy: customTrackBy">
      <input mdInput placeholder="Ingredient" [(ngModel)]="recipe.ingredients[i]" (keyup.enter)="recipe.ingredients.push('')">
    </md-input-container>
    <button class="add-ing" md-mini-fab (click)="recipe.ingredients.push('')">
      <md-icon>add</md-icon>
    </button>
    <div class="spacer"></div>

    <div class="section-header">
      <h3>Instructions</h3>
    </div>
    <md-input-container *ngFor="let s of recipe.steps; let i=index; trackBy: customTrackBy">
      <textarea mdInput placeholder="Step" [(ngModel)]="recipe.steps[i]" (keyup.enter)="recipe.steps.push('')"></textarea>
    </md-input-container>
    <button class="add-step" md-mini-fab (click)="recipe.steps.push('')">
      <md-icon>add</md-icon>
    </button>
    <div class="spacer"></div>

    <div class="btn-group">
      <button class="cancel-btn" md-raised-button color="accent" routerLink="/recipes">Cancel</button>
      <button class="save-btn" [disabled]="(recipe.steps.length == 0) || (recipe.ingredients.length == 0)" md-raised-button color="accent"
        (click)="save()">Save</button>
    </div>
  </div>
  <rec-footer></rec-footer>
</div>